@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  color: #141414;
  font: 16px/normal 'Inter', sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #b3eaf8 40%, #dcf8ff 100%);
  overflow: hidden;
}

h2 {
  font: 1.375rem/1.875rem 'Inter', sans-serif;
  font-weight: 700;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button--add, .button--clear-all, .button--enter, .button--cancel, .button--edit, .button--delete {
  border: none;
  border-radius: 50%;
  outline: 2px solid transparent;
  background: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button--add svg, .button--clear-all svg, .button--enter svg, .button--cancel svg, .button--edit svg, .button--delete svg {
  pointer-events: none;
}

.button--add:hover, .button--enter:hover, .button--edit:hover {
  outline-color: #b6ebc3;
  background: #fff;
}

.button--clear-all:hover, .button--cancel:hover, .button--delete:hover {
  outline-color: #e79d9d;
  background: #fff;
}

.button--add, .button--clear-all {
  width: 30px;
  height: 30px;
}

.button--enter, .button--cancel {
  width: 26px;
  height: 26px;
}

.button--delete, .button--edit {
  width: 26px;
  height: 26px;
  opacity: 0;
}

.button--delete svg, .button--edit svg {
  -webkit-transition: fill .15s ease-in-out;
  transition: fill .15s ease-in-out;
}

.button--delete:hover svg {
  fill: #490000;
}

.button--edit:hover svg {
  fill: #154900;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 70px 15px 15px;
  height: 100%;
}

.todo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 425px;
  min-width: 290px;
  height: 100%;
  border: 1px solid #ebfdfd;
  border-radius: 6px;
  padding: 15px 10px 10px;
  background: linear-gradient(135deg, #e3fcfc 30%, #defdfd 100%);
  z-index: 10;
}

.todo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding: 0 20px;
  z-index: 9;
}

.todo-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.todo__create-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 0;
  border-radius: 6px;
  padding: 0 20px;
  background: #fff;
  z-index: -1;
  -webkit-transition: max-height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), padding 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
  transition: max-height 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), padding 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
  overflow: hidden;
}

.todo__create-form.showed {
  max-height: 164px;
  padding: 15px 20px;
}

.todo__create-form.showed input, .todo__create-form.showed div {
  opacity: 1;
}

.todo__create-form input, .todo__create-form div {
  opacity: 0;
  -webkit-transition: opacity .35s ease;
  transition: opacity .35s ease;
}

.todo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 15px 20px 20px;
  background: #fff;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.todo__info-span {
  text-align: center;
}

.todo__item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'checkbox name controls' 'checkbox description description' 'checkbox datetime datetime';
  -ms-grid-columns: 20px auto 58px;
      grid-template-columns: 20px auto 58px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  opacity: 1;
  -webkit-transition: border-color .2s ease-in-out, opacity .3s ease-in-out .3s;
  transition: border-color .2s ease-in-out, opacity .3s ease-in-out .3s;
}

.todo__item:hover {
  border-color: #5e5e5e;
}

.todo__item:hover .button {
  opacity: 1;
}

.todo__item.hidden {
  opacity: 0;
}

.create-form__input {
  width: 100%;
  min-height: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.create-form__input:hover, .create-form__input:focus {
  border-color: #5e5e5e;
}

.create-form__input.input--name {
  color: #141414;
  font: 1rem/2rem 'Inter', sans-serif;
  font-weight: 600;
}

.create-form__input.input--description, .create-form__input.input--datetime {
  margin-top: 3px;
  color: #5e5e5e;
  font: .875rem/1.625rem 'Inter', sans-serif;
}

.create-form__input.input--datetime {
  height: 27px;
}

.create-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 15px 0 0;
}

.item__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font: 1rem/1.625rem 'Inter', sans-serif;
  font-weight: 600;
}

.item__description, .item__datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  color: #5e5e5e;
  font: .875rem/1.125rem 'Inter', sans-serif;
}

.item__description::before, .item__datetime::before {
  width: 17px;
  height: 17px;
  margin: 0 8px auto -1px;
}

.item__description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: description;
}

.item__description::before {
  content: url(icons/icon-description.svg);
}

.item__datetime {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: datetime;
}

.item__datetime::before {
  content: url(icons/icon-calendar.svg);
}

.item__buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: controls;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 6px;
}

.checkbox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: checkbox;
  position: relative;
}

.checkbox__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  border: 2px solid #8dd5e7;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__input:checked + .checkbox__label::before {
  background: #8dd5e7 url(icons/icon-check.svg) center/cover no-repeat;
}
