@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  color: #141414;
  font: 16px/normal 'Rubik', sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #aee6e6), to(#d3ebeb));
  background: linear-gradient(#aee6e6 40%, #d3ebeb 100%);
}

h2 {
  font: 1.375rem/1.625rem 'Rubik', sans-serif;
  font-weight: 600;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button--add, .button--clear-all {
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 25px;
  border: none;
  border-radius: 30px;
  padding-right: 8px;
  background: #fff;
  font: .875rem/1.5625rem 'Rubik', sans-serif;
}

.button--add > span, .button--clear-all > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  font: 1.5625rem/100% 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.button--add > span {
  background: #5eca5e;
}

.button--enter-item, .button--cancel-item {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
}

.button--enter-item {
  background: green;
  margin-top: auto;
}

.button--cancel-item {
  background: red;
}

.button--clear-all > span {
  background: #ca5e5e;
}

.button--delete, .button--edit {
  min-width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.button--delete svg, .button--edit svg {
  -webkit-transition: fill .15s ease-in-out;
  transition: fill .15s ease-in-out;
}

.button--delete:hover {
  background: #fdc6c6;
}

.button--delete:hover svg {
  fill: #490000;
}

.button--edit:hover {
  background: #d6fdc6;
}

.button--edit:hover svg {
  fill: #154900;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 425px;
  min-width: 320px;
  border: 1px solid #dff5f5;
  border-radius: 6px;
  padding: 15px 10px 10px;
  background: linear-gradient(135deg, #d3f7f7 30%, #e7f7f7 100%);
}

.todo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-left: 15px;
}

.todo__title {
  line-height: 100%;
  margin-right: 5px;
}

.todo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  border-radius: 6px;
  padding: 15px;
  background: #fff;
  list-style: none;
}

.todo__item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'checkbox name controls' 'checkbox description description' 'checkbox datetime datetime';
  -ms-grid-columns: 18px auto 50px;
      grid-template-columns: 18px auto 50px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e7e7e7;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.todo__item:hover {
  border-color: #5e5e5e;
}

.todo__item:hover .button {
  opacity: 1;
}

.todo__add-form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'buttons input-name' 'buttons input-description' 'buttons input-datetime';
  -ms-grid-columns: 18px auto;
      grid-template-columns: 18px auto;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 15px;
  background: #fff;
}

.add-form__buttons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 1rem/1.5rem 'Rubik', sans-serif;
  white-space: nowrap;
}

.add-form__label .label--name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input-name;
}

.add-form__label .label--description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: input-description;
}

.add-form__label .label--datetime {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: input-datetime;
}

.add-form__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 10px;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.add-form__input:hover, .add-form__input:focus {
  border-color: #5e5e5e;
}

.add-form__input.input--name {
  color: #141414;
  font: 1rem/1.5rem 'Rubik', sans-serif;
  font-weight: 500;
}

.add-form__input.input--description, .add-form__input.input--datetime {
  margin-top: 3px;
  color: #5e5e5e;
  font: .875rem/1.125rem 'Rubik', sans-serif;
}

.add-form__input.input--datetime {
  height: 19px;
}

.item__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font: 1rem/1.5rem 'Rubik', sans-serif;
  font-weight: 500;
}

.item__description, .item__datetime {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5e5e5e;
  font: .875rem/1.125rem 'Rubik', sans-serif;
}

.item__description {
  margin-top: 3px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: description;
}

.item__datetime {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: datetime;
  margin-top: 3px;
}

.item__datetime::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(icons/calendar.png) center/cover no-repeat;
}

.item__controls {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: controls;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2px;
}

.checkbox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: checkbox;
  position: relative;
}

.checkbox__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  border: 2px solid #aee6e6;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__input:checked + .checkbox__label::before {
  background: #aee6e6;
}
