@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #141414;
  font: 16px/normal 'Inter', sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #b3eaf8 40%, #dcf8ff 100%);
  overflow: hidden;
}

h2 {
  font: 1.375rem/1.875rem 'Inter', sans-serif;
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--add, &--clear-all,
  &--enter-item, &--cancel-item,
  &--delete, &--edit {
    border: none;
    border-radius: 50%;
    outline: 2px solid transparent;
    background: transparent;
    transition: all .2s ease-in-out;
  }

  &--add, &--enter-item, &--edit {

    &:hover {
      outline-color: #b6ebc3;
      background: #fff;
    }
  }

  &--clear-all, &--cancel-item, &--delete {

    &:hover {
      outline-color: #e79d9d;
      background: #fff;
    }
  }

  &--add, &--clear-all {
    width: 30px;
    height: 30px;
  }

  &--enter-item, &--cancel-item {
    width: 26px;
    height: 26px;
  }

  &--delete, &--edit {
    width: 26px;
    height: 26px;
    opacity: 0;

    svg {
      transition: fill .15s ease-in-out;
    }
  }

  &--delete:hover {

    svg {
      fill: #490000;
    }
  }

  &--edit:hover {

    svg {
      fill: #154900;
    }
  }
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 15px 15px;
  height: 100%;
}

.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  min-width: 290px;
  height: 100%;
  border: 1px solid #ebfdfd;
  border-radius: 6px;
  padding: 15px 10px 10px;
  background: linear-gradient(135deg, #e3fcfc 30%,#defdfd 100%);
  z-index: 10
  ;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 20px;
    z-index: 9;
  }

  &-header {

    &__buttons {
      display: flex;
      column-gap: 10px;
    }
  }

  &__add-form {
    display: flex;
    flex-direction: column;
    max-height: 0;
    border-radius: 6px;
    padding: 0 20px;
    background: #fff;
    z-index: -1;
    transition: max-height .4s cubic-bezier(0.215, 0.61, 0.355, 1),
                padding .3s cubic-bezier(0.215, 0.61, 0.355, 1) .1s;
    overflow: hidden;


    &.showed {
      max-height: 164px;
      padding: 15px 20px;

      & input, div {
        opacity: 1;
      }
    }

    & input, div {
      opacity: 0;
      transition: opacity .35s ease;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 15px 20px 20px;
    background: #fff;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__item {
    display: grid;
    grid-template-areas:
      'checkbox name controls'
      'checkbox description description'
      'checkbox datetime datetime';
    grid-template-columns: 20px auto 58px;
    column-gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    opacity: 1;
    transition: border-color .2s ease-in-out,
                opacity .3s ease-in-out .3s;

    &:hover {
      border-color: #5e5e5e;

      & .button {
        opacity: 1;
      }
    }

    &.hidden {
      opacity: 0;
    }
  }
}

.add-form {

  &__input {
    width: 100%;
    min-height: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    transition: .15s ease-in-out;

    &:hover, &:focus {
      border-color: #5e5e5e;
    }

    &.input--name {
      color: #141414;
      font: 1rem/2rem 'Inter', sans-serif;
      font-weight: 600;
    }

    &.input--description, &.input--datetime {
      margin-top: 3px;
      color: #5e5e5e;
      font: .875rem/1.625rem 'Inter', sans-serif;
    }

    &.input--datetime {
      height: 27px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: 15px 0 0;
  }
}

.item {

  &__name {
    grid-area: name;
    font: 1rem/1.625rem 'Inter', sans-serif;
    font-weight: 600;
  }

  &__description, &__datetime {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #5e5e5e;
    font: .875rem/1.125rem 'Inter', sans-serif;

    &::before {
      width: 17px;
      height: 17px;
      margin: 0 8px auto -1px;
    }
  }

  &__description {
    grid-area: description;

    &::before {
      content: url(icons/icon-description.svg);
    }
  }

  &__datetime {
    grid-area: datetime;

    &::before {
      content: url(icons/icon-calendar.svg);
    }
  }

  &__buttons {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
  }
}

.checkbox {
  grid-area: checkbox;
  position: relative;

  &__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    border: 2px solid #8dd5e7;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__label::before {
      background: #8dd5e7
                  url(icons/icon-check.svg) center/cover no-repeat;
    }
  }
}