@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #141414;
  font: 16px/normal 'Rubik', sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#aee6e6 40%, #d3ebeb 100%);
}

h2 {
  font: 1.375rem/1.625rem 'Rubik', sans-serif;
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--add, &--clear-all {
    width: 100%;
    max-width: fit-content;
    height: 25px;
    border: none;
    border-radius: 30px;
    padding-right: 8px;
    background: #fff;
    font: .875rem/1.5625rem 'Rubik', sans-serif;

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      border-radius: 50%;
      color: #fff;
      font: 1.5625rem/100% 'Roboto', sans-serif;
      font-weight: 700;
      transition: .15s ease-in-out;
    }
  }

  &--add {
    & > span {
      background: #5eca5e;
    }
  }

  &--enter-item, &--cancel-item {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
  }

  &--enter-item {
    background: green;
    margin-top: auto;
  }

  &--cancel-item {
    background: red;
  }

  &--clear-all {
    & > span {
      background: #ca5e5e;
    }
  }

  &--delete, &--edit {
    min-width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    transition: all .15s ease-in-out;

    svg {
      transition: fill .15s ease-in-out;
    }
  }

  &--delete:hover {
    background: #fdc6c6;

    svg {
      fill: #490000;
    }
  }

  &--edit:hover {
    background: #d6fdc6;

    svg {
      fill: #154900;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  min-width: 320px;
  border: 1px solid #dff5f5;
  border-radius: 6px;
  padding: 15px 10px 10px;
  background: linear-gradient(135deg, #d3f7f7 30%,#e7f7f7 100%);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    column-gap: 10px;
    padding-left: 15px;
  }

  &__title {
    line-height: 100%;
    margin-right: 5px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 6px;
    padding: 15px;
    background: #fff;
    list-style: none;
  }

  &__item {
    display: grid;
    grid-template-areas:
      'checkbox name controls'
      'checkbox description description'
      'checkbox datetime datetime';
    grid-template-columns: 18px auto 50px;
    column-gap: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e7e7e7;
    transition: .15s ease-in-out;
    // background: lightpink;

    &:hover {
      border-color: #5e5e5e;

      & .button {
        opacity: 1;
      }
    }
  }

  &__add-form {
    display: grid;
    grid-template-areas:
      'buttons input-name'
      'buttons input-description'
      'buttons input-datetime';
    grid-template-columns: 18px auto;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 15px;
    background: #fff;
  }
}

.add-form {

  &__buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    display: flex;
    align-items: center;
    font: 1rem/1.5rem 'Rubik', sans-serif;
    white-space: nowrap;

    & .label--name {
      grid-area: input-name;
    }

    & .label--description {
      grid-area: input-description;
    }

    & .label--datetime {
      grid-area: input-datetime;
    }
  }

  &__input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #e7e7e7;
    margin-left: 10px;
    transition: .15s ease-in-out;

    &:hover, &:focus {
      border-color: #5e5e5e;
    }

    &.input--name {
      color: #141414;
      font: 1rem/1.5rem 'Rubik', sans-serif;
      font-weight: 500;
    }

    &.input--description, &.input--datetime {
      margin-top: 3px;
      color: #5e5e5e;
      font: .875rem/1.125rem 'Rubik', sans-serif;
    }

    &.input--datetime {
      height: 19px;
    }
  }
}

.item {

  &__name {
    grid-area: name;
    font: 1rem/1.5rem 'Rubik', sans-serif;
    font-weight: 500;
  }

  &__description, &__datetime {
    position: relative;
    display: flex;
    color: #5e5e5e;
    font: .875rem/1.125rem 'Rubik', sans-serif;
  }

  &__description {
    margin-top: 3px;
    grid-area: description;
  }

  &__datetime {
    grid-area: datetime;
    margin-top: 3px;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 5px;
      background: url(icons/calendar.png) center/cover no-repeat;
    }
  }

  &__controls {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    gap: 2px;
  }
}

.checkbox {
  grid-area: checkbox;
  position: relative;

  &__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: 3px;
    border: 2px solid #aee6e6;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__label::before {
      background: #aee6e6;
    }
  }
}